$red :#ffa8a8;
$grape: #d0bfff;
$teal: #96f2d7;
@mixin button-color($color) {
    background: $color;
    &:hover {
        background: lighten($color, 5%);
    }
    &:active {
        background: darken($color, 5%);
    }

    &.outline {
        color: $color;
        background: none;
        border: 1px solid $color;
        &:hover {
            background: $color;
            color: white;
        }
    }
}
.Button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    padding-left: 1rem;
    padding-right: 1rem;

    @if (& + &) {
        .notFullWidth > & {
            margin: 0.5rem;
        }
    }

    &.small {
        height: 1.75rem;
        font-size: 0.875rem;
        
    }

    &.medium {
        height: 2.25rem;
        font-size: 1rem;
    }

    &.large {
        height: 3rem;
        font-size: 1.25rem;
    }

    &.red {
        @include button-color($red);
    }

    &.grape {
        @include button-color($grape);
    }

    &.teal {
        @include button-color($teal);
    }

    &:focus, &:active {
        outline: none;
    }

    &.fullWidth {
        width: 100%;
        & + & {
            margin-left: 0;
            margin-top: 1rem;
        }
    }
}
